@use './partials/variables' as *;

$fa-font-path : "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@import 'bootstrap/scss/bootstrap.scss';


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fredoka One', cursive;
    color: $black2;
    letter-spacing: .5px;
}

h5 {
    font-family: 'Fredoka One', cursive;
}

p, a, input {
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    font-weight: bold;
}

img {
    max-width: 100%;
}