@use './partials/variables' as *;

$fa-font-path : "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

@import 'bootstrap/scss/bootstrap.scss';


body {
    font-family: 'Open Sans', sans-serif;
    color: $black2;
}

img {
    max-width: 100%;
}